.root {
    -fx-background-color: #d9d9d9;
}

#main_simulation_view_pane {
    -fx-background-image: url("res/tempMainView.jpeg");
    -fx-background-size: cover;
}

#mini_map_pane {
    -fx-background-image: url("res/tempMiniMap.jpg");
    -fx-background-size: cover;
}

#spedometer_pane {
    -fx-background-image: url("res/spedometer.png");
    -fx-background-size: cover;
}

#odometer_pane {
    -fx-background-image: url("res/odometer.png");
    -fx-background-size: cover;
}

#steering_wheel_pane {
    -fx-background-image: url("res/steeringWheel.png");
    -fx-background-size: cover;
}

#pedals_pane {
    -fx-background-image: url("res/pedals.png");
    -fx-background-size: cover;
}